
/* header section */
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.wrapper{
    width: 1140px;
    margin: 0 auto;
    margin-top: 1rem;
}
.header{
    width: 1140px;
    margin: 0 auto;
    font-weight: 900;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 0;
    font-size: 16px;
}
.topheader{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    box-shadow: 0 2px 9px rgb(0 0 0 / 4%);
    padding-bottom: 1rem;
    z-index: 12;
}
.content{
    height: 1000px;
    background-color: lightgray;
}

.pdplogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.aylana{
    width: 3rem;
    height: 3rem;
    background-color: rgb(0, 209, 0);
    border-radius: 2.5rem;
}
.slash{
    width: 0.8rem;
    height: 4rem;
    background-color: black;
    transform:skew(-15deg);
    margin-left: 0.4rem;
}

.kurslarimiz{
    margin-left: 4rem;
}
.academyname{
    font-size: 1.2rem;
    text-align: left;
    margin-left: 0.8rem;
    line-height: 1.1rem;
    color: black;
    align-content: center;
    padding-top: 1px;
}

/* navbar section */
.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: gray;
}
.navbar a{
    color: gray;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}
.navbar a:hover{
    color: #000;
    border-bottom: 3px solid #00b533;
    cursor: pointer;
}
.nav_kurslarimiz{
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    color: rgb(36, 36, 36);
    margin: 0.5rem;
}
.kurslar_items{
    width: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-content: space-around;
    height: 20px;
    margin-right: 0.8rem;
}
.item1{
    width: 15px;
    height: 3px;
    background-color: rgb(36, 36, 36);
}
.item2{
    width: 22px;
    height: 3px;
    background-color: rgb(36, 36, 36);
}


/* admin panel */
.admin_panel{
    color: black;
    display: flex;
    align-items: center;
}

.admin_logo{
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: burlywood;
}

/* main body section */
.pdptitle{
    margin-top: 2rem;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    font-weight: 600;
}
span{
    color: rgb(0, 221, 0);
   
}



/* FOOTER qismi */
.footer{
    margin-top: 175px;
}
.manzil a{
    color: #b1b1b1;
    margin: 0;
}
.telephone_number a{
    margin: 0;
}
.telephone_number div{
    margin-top: 0.8rem;
}
.manzil{
    padding-top: 4rem;
}
.content_wrapper{
    display: flex;
    font-size: 17px;
    justify-content: space-between;
}
.footer_header{
    font-weight: bold;
    color: black;
}
.footer_header + ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 3rem;
}
.footer_header + ul li a{
    margin: 0;
    color: #898989;
}

.hujjatlar_text{
    color: #898989;
    text-align: right;
}
.created_year{
    color: lightgray;
}
