.bodysection{
    height: 125px;
}
.pdptitle{
    font-size: 36px;
}
.container_item{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;   
}
.home_video{
    
}
.video_circle{
    position: absolute;
    top: 70px;
    right: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.video_circle img{
    height: 150px;
}

.container2{
    display: flex;
    justify-content: space-between;
}
.post_side{
    box-sizing: border-box;
    width: 569px;
    height: 400px;
    background-color: rgb(211, 211, 211, 0.15);
    padding: 30px 30px 65px 64px;
}
.side_content{
    position: relative;
}
.side_item_circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* .left_item:hover, .right_item:hover{
    background-color: #00b533;
} */
/* .left_items, .right_items{
    position: relative;
} */
/* 
.hover_left_item, .hover_right_item{
    position: absolute;
    display: flex;
    background-color: blueviolet;
    box-sizing: border-box;
    width: 569px;
    height: 400px;
    padding: 30px 0px 65px 65px;
} */

.text_header{
    font-weight: 600;
    font-size: 30px;
    margin-top: 1rem;
}
.text_description{
    font-size: 16px;
    font-weight: 600;
    color: gray;
    margin-top: 1rem;
}
.clockimg{
    margin-top: 38%;
}

.side_content_hover{
    position: absolute;
}
